body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #302c2c;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.0em;
    margin-bottom: 10px;
    color: rgb(238, 138, 16);
}

header p {
    font-size: 1.1em;
}

section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 5px;
    color: rgb(209, 138, 51);
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

ul li {
    margin: 5px 0;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
    color: rgb(209, 138, 51);
}

.job ul li {
    margin-left: 20px}
